In [48]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)


1.Identificaci√≥n de Valores Nulos: Identifica todas las columnas que contengan valores nulos en el DataFrame.

In [49]:
data_world= pd.read_csv("world-data-2023-w-continents.csv",index_col=0)

In [50]:
data_world.head(5)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,Latitud,Longitud,continent
0,Afghanistan,60.0,AF,58.1,652230.0,323000.0,32.49,93.0,Kabul,8672.0,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.939110,67.709953,Asia
1,Albania,105.0,AL,43.1,28748.0,9000.0,11.78,355.0,Tirana,4536.0,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,2854191.0,55.7,18.6,36.6,12.33,1747593.0,41.153332,20.168331,Europe
2,Algeria,18.0,DZ,17.4,2381741.0,317000.0,24.28,213.0,Algiers,150006.0,151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,43053054.0,41.2,37.2,66.1,11.70,31510100.0,28.033886,1.659626,Africa
3,Andorra,164.0,AD,40.0,468.0,NaN,7.20,376.0,Andorra la Vella,469.0,NaN,NaN,EUR,1.27,34.0,1.51,3.154058e+09,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,42.506285,1.521801,Europe
4,Angola,26.0,AO,47.5,1246700.0,117000.0,40.73,244.0,Luanda,34693.0,261.73,17.1,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,31825295.0,77.5,9.2,49.1,6.89,21061025.0,-11.202692,17.873887,Africa

Columnas que contienen nulos

In [51]:
print("Las columnas que contienen nulos son:\n")
columnas_null = []
for column in data_world.columns:
    
    if data_world[column].isna().sum() > 0:
        print(f"{column} --- {data_world[column].isna().sum()} nulos")
        columnas_null.append(column)

Las columnas que contienen nulos son:

abbreviation --- 7 nulos
agricultural_land --- 7 nulos
land_area --- 1 nulos
armed_forces_size --- 24 nulos
birth_rate --- 6 nulos
calling_code --- 1 nulos
capital/major_city --- 3 nulos
co2-emissions --- 7 nulos
cpi --- 17 nulos
cpi_change --- 16 nulos
currency-code --- 15 nulos
fertility_rate --- 7 nulos
forested_area --- 7 nulos
gasoline_price --- 20 nulos
gdp --- 2 nulos
gross_primary_education_enrollment --- 7 nulos
gross_tertiary_education_enrollment --- 12 nulos
infant_mortality --- 6 nulos
largest_city --- 6 nulos
life_expectancy --- 8 nulos
maternal_mortality_ratio --- 14 nulos
minimum_wage --- 45 nulos
official_language --- 5 nulos
out_of_pocket_health_expenditure --- 7 nulos
physicians_per_thousand --- 7 nulos
population --- 1 nulos
population_labor_force_participation --- 19 nulos
tax_revenue --- 26 nulos
total_tax_rate --- 12 nulos
unemployment_rate --- 19 nulos
urban_population --- 5 nulos
Latitud --- 1 nulos
Longitud --- 1 nulos
continent --- 5 nulos

In [52]:
cat_columns = [column for column in columnas_null if data_world[column].dtype == "O"]
num_columns = [column for column in columnas_null if data_world[column].dtype == "float64"]

#Evaluaci√≥n de datos columnas categ√≥ricas

In [53]:
cat_columns

['abbreviation',
 'capital/major_city',
 'currency-code',
 'largest_city',
 'official_language',
 'continent']

Cambio del pa√≠s ao Tome and Principe

In [54]:
data_world["country"][150]= 'Sao Tome and Principe'
data_world["capital/major_city"][150]= 'Sao Tome'
data_world["largest_city"][150]= 'Sao Tome'

/tmp/ipykernel_570/1362952707.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_world["country"][150]= 'Sao Tome and Principe'
/tmp/ipykernel_570/1362952707.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_world["capital/major_city"][150]= 'Sao Tome'
/tmp/ipykernel_570/1362952707.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_world["largest_city"][150]= 'Sao Tome'

Columna Abbreviation

In [55]:
data_world.loc[data_world["abbreviation"].isnull(),["country", 'abbreviation']]

                            country abbreviation
39            Republic of the Congo          NaN
56                         Eswatini          NaN
73                     Vatican City          NaN
81              Republic of Ireland          NaN
119                         Namibia          NaN
128                 North Macedonia          NaN
133  Palestinian National Authority          NaN

In [57]:
data_world["abbreviation"][[39,56,73,81,119,128,133]] = ['CG','SZ','VA','IE','NA','MK','PS']

/tmp/ipykernel_570/2106397963.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_world["abbreviation"][[39,56,73,81,119,128,133]] = ['CG','SZ','VA','IE','NA','MK','PS']

Columna Capital/Major_city

In [58]:
data_world.loc[data_world["capital/major_city"].isnull(),"country"]

97                              Libya
133    Palestinian National Authority
156                         Singapore
Name: country, dtype: object

In [59]:
data_world["capital/major_city"][[97,133,156]] = ['Tripoli','Ramallah','Singapore City']

/tmp/ipykernel_570/2117015337.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_world["capital/major_city"][[97,133,156]] = ['Tripoli','Ramallah','Singapore City']

Columna Currency_code

In [60]:
data_world.loc[data_world["currency-code"].isnull(),"country"]

11                        The Bahamas
19                             Bhutan
30                           Cambodia
33           Central African Republic
52                        El Salvador
56                           Eswatini
85                              Japan
95                            Lesotho
96                            Liberia
104                          Maldives
119                           Namibia
122                       Netherlands
133    Palestinian National Authority
134                            Panama
194                          Zimbabwe
Name: country, dtype: object

In [61]:
data_world["currency-code"][11,19, 30, 33, 52, 56, 85, 95, 96, 104, 119, 122, 133, 134, 194] = ["BSD", "BTN", "KHR", "XAF", "USD", "SZL", "JPY", "LSL", "LRD", "MVR", "NAD", "EUR", "ILS", "PAB", "ZWL"]

/tmp/ipykernel_570/3566825480.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_world["currency-code"][11,19, 30, 33, 52, 56, 85, 95, 96, 104, 119, 122, 133, 134, 194] = ["BSD", "BTN", "KHR", "XAF", "USD", "SZL", "JPY", "LSL", "LRD", "MVR", "NAD", "EUR", "ILS", "PAB", "ZWL"]
/home/mariacrespocalabuig/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

Columna Official lenguage

In [62]:
data_world.loc[data_world["official_language"].isnull(),["country"]]

                   country
8                Australia
85                   Japan
110                 Mexico
150  Sao Tome and Principe
186          United States

In [63]:
data_world["official_language"][8,85,110,150,186] = ["English","Japanese","Spanish","Portuguese","English"]

/tmp/ipykernel_570/1706071842.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_world["official_language"][8,85,110,150,186] = ["English","Japanese","Spanish","Portuguese","English"]
/home/mariacrespocalabuig/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

Columna Continente

In [64]:
data_world.loc[data_world["continent"].isnull(),["country"]]

                            country
81              Republic of Ireland
111  Federated States of Micronesia
150           Sao Tome and Principe
162                     South Korea
174                      East Timor

In [65]:
data_world["continent"][81,111,150,162,174]= ["Europe","Oceania","Africa","Asia","Asia"]

/tmp/ipykernel_570/922468638.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_world["continent"][81,111,150,162,174]= ["Europe","Oceania","Africa","Asia","Asia"]
/home/mariacrespocalabuig/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

Columna Largest City

In [66]:
data_world["largest_city"][24,73,97,120,133,156] = ["Bandar Seri Begawan","Vatican City","Tripoli","Yaren","Gaza City","Singapore City"]

/tmp/ipykernel_570/284562146.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_world["largest_city"][24,73,97,120,133,156] = ["Bandar Seri Begawan","Vatican City","Tripoli","Yaren","Gaza City","Singapore City"]

In [67]:
data_world.loc[data_world["largest_city"].isnull(),"country"]

Series([], Name: country, dtype: object)

An√°lisis columnas num√©ricas

In [68]:
num_columns

['agricultural_land',
 'land_area',
 'armed_forces_size',
 'birth_rate',
 'calling_code',
 'co2-emissions',
 'cpi',
 'cpi_change',
 'fertility_rate',
 'forested_area',
 'gasoline_price',
 'gdp',
 'gross_primary_education_enrollment',
 'gross_tertiary_education_enrollment',
 'infant_mortality',
 'life_expectancy',
 'maternal_mortality_ratio',
 'minimum_wage',
 'out_of_pocket_health_expenditure',
 'physicians_per_thousand',
 'population',
 'population_labor_force_participation',
 'tax_revenue',
 'total_tax_rate',
 'unemployment_rate',
 'urban_population',
 'Latitud',
 'Longitud']