In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [2]:
df_world = pd.read_csv("word_merge.csv", index_col = 0)

In [3]:
df_world.sample(10)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,Latitud,Longitud
187,Uruguay,20,UY,82.6,"176,215","22,000",13.86,598.0,Montevideo,"6,766",202.92,7.9,UYU,1.97,10.7,1.50,"56,045,912,952",108.5,63.1,6.4,Montevideo,77.8,17.0,1.66,Spanish,16.2,5.05,"3,461,734",64.0,20.1,41.8,8.73,"3,303,394",'-32.522779 ','-55.765835'
190,Venezuela,32,VE,24.5,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.9,VED,2.27,52.7,0.00,"482,359,318,768",97.2,79.3,21.4,Caracas,72.1,125.0,0.01,Spanish,45.8,1.92,"28,515,829",59.7,NaN,73.3,8.80,"25,162,368",'6.42375 ','-66.58973'
141,Qatar,248,QA,5.8,"11,586","22,000",9.54,974.0,Doha,"103,259",115.38,-0.7,QAR,1.87,0.0,0.40,"183,466,208,791",103.8,17.9,5.8,Doha,80.1,9.0,NaN,Arabic,6.2,2.49,"2,832,067",86.8,14.7,11.3,0.09,"2,809,071",'25.354826 ','51.183884'
57,Ethiopia,115,ET,36.3,"1,104,300","138,000",32.34,251.0,Addis Ababa,"14,870",143.86,15.8,ETB,4.25,12.5,0.75,"96,107,662,398",101.0,8.1,39.1,Addis Ababa,66.2,401.0,NaN,Amharic,37.8,0.08,"112,078,730",79.6,7.5,37.7,2.08,"23,788,710",'9.145 ','40.489673'
69,Guinea,53,GN,59.0,"245,857","13,000",36.36,224.0,Conakry,"2,996",262.95,9.5,GNF,4.70,25.8,0.90,"13,590,281,809",91.5,11.6,64.9,Kankan,61.2,576.0,NaN,French,54.5,0.08,"12,771,246",61.5,10.8,69.3,4.30,"4,661,505",'9.945587 ','-9.696645'
193,Zambia,25,ZM,32.1,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.2,ZMW,4.63,65.2,1.40,"23,064,722,446",98.7,4.1,40.4,Lusaka,63.5,213.0,0.24,English,27.5,1.19,"17,861,030",74.6,16.2,15.6,11.43,"7,871,713",'-13.133897 ','27.849332'
6,Argentina,17,AR,54.3,"2,780,400","105,000",17.02,54.0,Buenos Aires,"201,348",232.75,53.5,ARS,2.26,9.8,1.10,"449,663,446,954",109.7,90.0,8.8,Buenos Aires,76.5,39.0,3.35,Spanish,17.6,3.96,"44,938,712",61.3,10.1,106.3,9.79,"41,339,571",'-38.416097 ','-63.616672'
68,Guatemala,167,GT,36.0,"108,889","43,000",24.56,502.0,Guatemala City,"16,777",142.92,3.7,GTQ,2.87,32.7,0.79,"76,710,385,880",101.9,21.8,22.1,Guatemala City,74.1,95.0,1.60,Spanish,55.8,0.35,"16,604,026",62.3,10.6,35.2,2.46,"8,540,945",'15.783471 ','-90.230759'
29,Cape Verde,138,CV,19.6,"4,033","1,000",19.49,238.0,Praia,543,110.5,1.1,CVE,2.27,22.5,1.02,"1,981,845,741",104.0,23.6,16.7,Praia,72.8,58.0,0.68,Portuguese,23.2,0.77,"483,628",60.5,20.1,37.5,12.25,"364,029",'16.5388 ','-23.0418'
70,Guinea-Bissau,70,GW,58.0,"36,125","4,000",35.13,245.0,Bissau,293,111.65,1.4,XOF,4.48,69.8,NaN,"1,340,389,411",118.7,2.6,54.0,Bissau,58.0,667.0,0.16,Portuguese,37.2,0.13,"1,920,922",72.0,10.3,45.5,2.47,"840,922",'11.803749 ','-15.180413'

### Ejercicios apply

1. Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

In [4]:
# Crea la función para convertir los datos
def numericas (data):

    try: 
       
        data.replace(",","").replace("'","").strip()
        return data.replace(",","").replace("'","").strip()
    
    except:
        return data
       


# Crea un listado de las columnas que necesitan el cambio
listado = ['land_area' , 'armed_forces_size' , 'co2-emissions' , 'gdp' , 'population' ,'urban_population', 'Latitud', 'Longitud' , 'density' , 'cpi' ]

# Itera por las columnas y les aplica la función
for columna in listado:
    
    df_world[columna] = df_world[columna].apply(numericas).astype(float)

In [5]:
df_world.head(5)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,Latitud,Longitud
0,Afghanistan,60.0,AF,58.1,652230.0,323000.0,32.49,93.0,Kabul,8672.0,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.939110,67.709953
1,Albania,105.0,AL,43.1,28748.0,9000.0,11.78,355.0,Tirana,4536.0,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,2854191.0,55.7,18.6,36.6,12.33,1747593.0,41.153332,20.168331
2,Algeria,18.0,DZ,17.4,2381741.0,317000.0,24.28,213.0,Algiers,150006.0,151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,43053054.0,41.2,37.2,66.1,11.70,31510100.0,28.033886,1.659626
3,Andorra,164.0,AD,40.0,468.0,NaN,7.20,376.0,Andorra la Vella,469.0,NaN,NaN,EUR,1.27,34.0,1.51,3.154058e+09,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,42.506285,1.521801
4,Angola,26.0,AO,47.5,1246700.0,117000.0,40.73,244.0,Luanda,34693.0,261.73,17.1,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,31825295.0,77.5,9.2,49.1,6.89,21061025.0,-11.202692,17.873887

2. Crea una función para añadir una nueva columna llamada 'Continent' al DataFrame para indicar a qué continente pertenece cada país.

In [6]:
# Establece un diccionario con los continentes (keys) y sus países (values)
continents_countries = {
    'Asia': [
        'Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Bhutan', 'Brunei', 'Cambodia', 'China',
        'Cyprus', 'Georgia', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Kazakhstan', 
        'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 
        'North Korea', 'Oman', 'Pakistan', 'Palestinian National Authority', 'Philippines', 'Qatar', 
        'Republic of Korea (South Korea)', 'Russia', 'Saudi Arabia', 'Singapore', 'Sri Lanka', 'Syria', 'Tajikistan', 
        'Thailand', 'Timor-Leste', 'Turkey', 'Turkmenistan', 'United Arab Emirates', 'Uzbekistan', 'Vietnam', 'Yemen'
    ],
    'Europe': [
        'Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 
        'Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 
        'Iceland', 'Ireland', 'Italy', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta', 'Moldova', 
        'Monaco', 'Montenegro', 'Netherlands', 'North Macedonia', 'Norway', 'Poland', 'Portugal', 'Romania', 
        'San Marino', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Ukraine', 'United Kingdom', 
        'Vatican City'
    ],
    'Africa': [
        'Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cape Verde', 'Cameroon', 
        'Central African Republic', 'Chad', 'Comoros', 'Republic of the Congo', 'Democratic Republic of the Congo', 
        'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon', 'The Gambia', 'Ghana', 
        'Guinea', 'Guinea-Bissau', 'Ivory Coast', 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 
        'Mali', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe', 
        'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Tanzania', 'Togo', 
        'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe'
    ],
    'North America': [
        'Antigua and Barbuda', 'The Bahamas', 'Barbados', 'Belize', 'Canada', 'Costa Rica', 'Cuba', 
        'Dominica', 'Dominican Republic', 'El Salvador', 'Grenada', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 
        'Mexico', 'Nicaragua', 'Panama', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 
        'Trinidad and Tobago', 'United States'
    ],
    'South America': [
        'Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Guyana', 'Paraguay', 'Peru', 
        'Suriname', 'Uruguay', 'Venezuela'
    ],
    'Oceania': [
        'Australia', 'Fiji', 'Kiribati', 'Marshall Islands', 'Micronesia', 'Nauru', 'New Zealand', 'Palau', 
        'Papua New Guinea', 'Samoa', 'Solomon Islands', 'Tonga', 'Tuvalu', 'Vanuatu'
    ]
}


# Función para asignar un continente en base al país
def get_continent(country):
    for continent, countries in continents_countries.items():
        if country in countries:
            return continent
    return None #devuelve un nulo si no encuentra coincidencias

# Crea la columna 'continent'
df_world['continent'] = df_world['country'].apply(get_continent)

In [7]:
df_world.head(9)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,Latitud,Longitud,continent
0,Afghanistan,60.0,AF,58.1,652230.0,323000.0,32.49,93.0,Kabul,8672.0,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.939110,67.709953,Asia
1,Albania,105.0,AL,43.1,28748.0,9000.0,11.78,355.0,Tirana,4536.0,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,2854191.0,55.7,18.6,36.6,12.33,1747593.0,41.153332,20.168331,Europe
2,Algeria,18.0,DZ,17.4,2381741.0,317000.0,24.28,213.0,Algiers,150006.0,151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,43053054.0,41.2,37.2,66.1,11.70,31510100.0,28.033886,1.659626,Africa
3,Andorra,164.0,AD,40.0,468.0,NaN,7.20,376.0,Andorra la Vella,469.0,NaN,NaN,EUR,1.27,34.0,1.51,3.154058e+09,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,42.506285,1.521801,Europe
4,Angola,26.0,AO,47.5,1246700.0,117000.0,40.73,244.0,Luanda,34693.0,261.73,17.1,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,31825295.0,77.5,9.2,49.1,6.89,21061025.0,-11.202692,17.873887,Africa
5,Antigua and Barbuda,223.0,AG,20.5,443.0,0.0,15.33,1.0,"St. John's, Saint John",557.0,113.81,1.2,XCD,1.99,22.3,0.99,1.727759e+09,105.0,24.8,5.0,"St. John's, Saint John",76.9,42.0,3.04,English,24.3,2.76,97118.0,NaN,16.5,43.0,NaN,23800.0,17.060816,-61.796428,North America
6,Argentina,17.0,AR,54.3,2780400.0,105000.0,17.02,54.0,Buenos Aires,201348.0,232.75,53.5,ARS,2.26,9.8,1.10,4.496634e+11,109.7,90.0,8.8,Buenos Aires,76.5,39.0,3.35,Spanish,17.6,3.96,44938712.0,61.3,10.1,106.3,9.79,41339571.0,-38.416097,-63.616672,South America
7,Armenia,104.0,AM,58.9,29743.0,49000.0,13.99,374.0,Yerevan,5156.0,129.18,1.4,AMD,1.76,11.7,0.77,1.367280e+10,92.7,54.6,11.0,Yerevan,74.9,26.0,0.66,Armenian,81.6,4.40,2957731.0,55.6,20.9,22.6,16.99,1869848.0,40.069099,45.038189,Asia
8,Australia,3.0,AU,48.2,7741220.0,58000.0,12.60,61.0,Canberra,375908.0,119.80,1.6,AUD,1.74,16.3,0.93,1.392681e+12,100.3,113.1,3.1,Sydney,82.7,6.0,13.59,NaN,19.6,3.68,25766605.0,65.5,23.0,47.4,5.27,21844756.0,-25.274398,133.775136,Oceania

3. Guarda el DataFrame después de los cambios creados después de los dos ejercicios anteriores para usarlo en el pairprogramming de mañana.

In [8]:
df_world.to_csv('world-data-2023-w-continents.csv')

### Ejercicios groupby

1. ¿Cuál es la densidad de población promedio por continente?

In [9]:
df_world.groupby('continent')['density'].mean().reset_index()

       continent     density
0         Africa  105.094340
1           Asia  442.872340
2         Europe  834.166667
3  North America  188.826087
4        Oceania  138.923077
5  South America   25.000000

2. ¿Cuál es la esperanza de vida promedio por idioma oficial? Agrupa los países por idioma oficial y calcula la esperanza de vida promedio.

In [10]:
df_world.groupby('official_language')['life_expectancy'].mean().reset_index()

    official_language  life_expectancy
0           Afrikaans        63.900000
1            Albanian        78.500000
2             Amharic        66.200000
3              Arabic        72.864706
4            Armenian        74.900000
..                ...              ...
71  Tuvaluan Language              NaN
72          Ukrainian        71.600000
73               Urdu        67.100000
74              Uzbek        71.600000
75         Vietnamese        75.300000

[76 rows x 2 columns]

3. ¿Cuál es la tasa de mortalidad infantil promedio por moneda?

In [11]:
df_world.groupby('currency-code')['infant_mortality'].mean().reset_index()

    currency-code  infant_mortality
0             AED          6.500000
1             AFN         47.900000
2             ALL          7.800000
3             AMD         11.000000
4             AOA         51.600000
..            ...               ...
128           XCD         15.183333
129           XOF         51.512500
130           YER         42.900000
131           ZAR         28.500000
132           ZMW         40.400000

[133 rows x 2 columns]

4. ¿Cuál es el salario mínimo por continente?

In [12]:
df_world.groupby('continent')['minimum_wage'].min().reset_index()  # Sigo sin tener claro de dónde sacar el salario, but oh well

       continent  minimum_wage
0         Africa          0.01
1           Asia          0.05
2         Europe          0.31
3  North America          0.05
4        Oceania          0.40
5  South America          0.01

In [13]:
df_world.head(5)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,Latitud,Longitud,continent
0,Afghanistan,60.0,AF,58.1,652230.0,323000.0,32.49,93.0,Kabul,8672.0,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.939110,67.709953,Asia
1,Albania,105.0,AL,43.1,28748.0,9000.0,11.78,355.0,Tirana,4536.0,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,2854191.0,55.7,18.6,36.6,12.33,1747593.0,41.153332,20.168331,Europe
2,Algeria,18.0,DZ,17.4,2381741.0,317000.0,24.28,213.0,Algiers,150006.0,151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,43053054.0,41.2,37.2,66.1,11.70,31510100.0,28.033886,1.659626,Africa
3,Andorra,164.0,AD,40.0,468.0,NaN,7.20,376.0,Andorra la Vella,469.0,NaN,NaN,EUR,1.27,34.0,1.51,3.154058e+09,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,42.506285,1.521801,Europe
4,Angola,26.0,AO,47.5,1246700.0,117000.0,40.73,244.0,Luanda,34693.0,261.73,17.1,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,31825295.0,77.5,9.2,49.1,6.89,21061025.0,-11.202692,17.873887,Africa

5. ¿Cuál es la tasa de impuestos total máxima por densidad de población por continente? Para solucionar este ejercicio puedes:

- Primero, necesitas calcular la tasa de impuestos total para cada continente. La tasa de impuestos total se encuentra en la columna "total_tax_rate".

- Luego, calcula la densidad de población para cada continente. La densidad de población se encuentra en la columna "density".

- Ahora, divide la tasa de impuestos total entre la densidad de población para obtener la tasa de impuestos total por persona por kilómetro cuadrado.

- Encuentra el país que tiene el valor más alto en esta nueva columna calculada.

In [14]:
tax_rate = df_world.groupby('continent')['total_tax_rate'].max()
density = df_world.groupby('continent')['density'].mean()

tax_per_person = (tax_rate / density).sort_values(ascending = False).reset_index()

In [15]:
tax_per_person.iloc[0,0]

'South America'

6. ¿Cuál es el porcentaje de población urbana promedio por continente?

In [16]:
df_world.groupby('continent')['urban_population'].mean().reset_index()

       continent  urban_population
0         Africa      1.080102e+07
1           Asia      5.080043e+07
2         Europe      1.111913e+07
3  North America      2.002709e+07
4        Oceania      2.350117e+06
5  South America      2.999807e+07

7. ¿Cuál es la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio por idioma oficial? Para contestar esta pregunta dabes seguir los siguientes pasos:

- Agrupa el DataFrame por idioma oficial y calcula la media del Gasto de Bolsillo en salud (out_of_pocket_health_expenditure) y del GPD.

- Calcula la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio

In [17]:
out_of_pocket = df_world.groupby('official_language')['out_of_pocket_health_expenditure'].mean()
gdp = df_world.groupby('official_language')['gdp'].mean()

difference = gdp - out_of_pocket

In [18]:
difference.reset_index()

    official_language             0
0           Afrikaans  3.514316e+11
1            Albanian  1.527808e+10
2             Amharic  9.610766e+10
3              Arabic  1.366153e+11
4            Armenian  1.367280e+10
..                ...           ...
71  Tuvaluan Language  4.727146e+07
72          Ukrainian  1.537811e+11
73               Urdu  3.044000e+11
74              Uzbek  5.792129e+10
75         Vietnamese  2.619212e+11

[76 rows x 2 columns]

8. ¿Cuál es la tasa de maternidad promedio por tasa de impuestos total? Para resolver el ejercicio deberás:

- Primero, calcula la tasa de maternidad promedio para cada continente. Puedes usar la columna "maternal_mortality_ratio" que representa la tasa de mortalidad materna.

- Calcula la tasa de impuestos total promedio para cada continente. Puedes usar la columna "total_tax_rate" que representa la tasa de impuestos total en cada continente.

- Luego, divide la tasa de maternidad promedio por la tasa de impuestos total promedio para obtener la relación entre ambas tasas.

- Encuentra el país con la tasa de maternidad más alta por punto porcentual de tasa de impuestos total.

In [19]:
mortality_ratio = df_world.groupby('continent')['maternal_mortality_ratio'].mean()

tot_tax_rate = df_world.groupby('continent')['total_tax_rate'].mean()

maternity_tax_ratio = (mortality_ratio / tot_tax_rate).sort_values(ascending = False)

In [20]:
maternity_tax_ratio.reset_index() # En el ejercicio pide que agrupemos por continente y hagamos el cálculo así, pero luego dice que encontremos el país con la tasa más alta. ¿Es una errata? ¿Se referían al continente y no al país?

       continent         0
0         Africa  8.750154
1           Asia  2.292644
2  North America  1.857962
3  South America  1.651304
4        Oceania  1.645583
5         Europe  0.194837

9. Ejercicios **bonus** groupby:

- ¿Cuál es la tasa de natalidad máxima por área forestal por continente? Encuentra el país con la tasa de natalidad más alta por cada punto porcentual de área forestal.

- ¿Cuál es la diferencia entre la tasa de impuestos total y la tasa de desempleo promedio por continente?

In [21]:
pd.set_option('display.max_rows', None)

In [22]:
max_natality = df_world.groupby(['forested_area','continent'])['birth_rate'].max()

max_natality = max_natality.reset_index().sort_values(by='continent')

In [23]:
max_natality = df_world.groupby(['forested_area','continent'])['birth_rate'].max()

In [25]:
max_natality

forested_area  continent
0.0            Asia             19.19
               Europe            6.80
0.1            Africa           26.38
0.2            Africa           33.69
0.4            Asia             13.94
0.5            Asia             17.80
               Europe           12.00
0.8            Africa           24.28
               Asia             13.99
0.9            Africa           46.08
1.0            Asia             30.45
1.1            Asia             21.98
               Europe            9.20
1.2            Asia             21.77
1.6            Africa           26.81
1.9            Asia             29.08
2.1            Asia             32.49
2.7            Asia             23.69
3.0            Asia             30.76
3.1            Africa           33.11
3.3            Asia             27.10
3.5            North America    24.35
3.8            Africa           42.17
4.6            Asia             10.33
6.6            Asia             18.78
6.8            Africa           17.56
7.2            Africa           37.91
7.5            Asia             23.30
7.6            Africa           20.51
7.7            Asia             20.80
7.8            Africa           28.75
8.0            Asia             24.13
8.1            Africa           32.18
8.3            Africa           28.64
8.8            Asia             23.83
9.7            Africa           38.14
9.8            South America    17.02
10.0           Africa           41.75
10.7           South America    13.86
10.9           Africa           39.01
11.0           Asia             18.18
11.2           Europe            9.70
11.7           Asia             13.99
12.5           Africa           32.34
               Oceania          24.30
12.6           Africa           18.94
               Europe           10.10
               North America    18.25
13.1           Europe           11.00
13.4           Asia             17.55
14.1           Asia             14.00
14.7           Europe           10.60
               North America    10.65
14.9           Africa           30.30
15.0           Oceania          27.89
15.4           Asia             16.03
16.3           Oceania          12.60
16.7           Europe            8.70
18.7           Asia             10.46
18.9           Africa           24.82
19.0           Africa           10.20
19.3           Africa           37.93
19.7           Africa           31.88
21.4           Africa           32.66
22.3           North America    15.33
22.4           Asia             10.90
22.5           Africa           19.49
22.6           Europe           10.30
22.9           Europe            9.60
23.1           Asia              8.80
23.8           Asia             17.86
24.3           South America    12.43
25.4           Asia             19.89
25.8           Africa           36.36
25.9           North America    20.64
27.8           Asia             20.55
28.1           Europe           11.78
30.1           Europe            9.60
30.9           Europe           10.20
               North America    16.10
31.1           Europe            9.20
31.2           Europe           11.30
31.3           North America    10.17
31.7           Europe            8.10
31.8           Europe           10.00
32.2           Asia             10.34
32.7           Africa           35.74
               Europe            9.50
               North America    24.56
32.9           Asia             15.83
33.2           Africa           34.12
               Europe           10.40
               North America    12.00
33.3           Oceania            NaN
33.9           North America    17.60
34.0           Europe            7.20
34.4           Europe            9.00
34.6           Europe           10.70
34.8           Europe           10.00
35.4           Europe            8.90
35.5           Africa           30.68
35.6           Africa           35.35
35.7           Europe           10.30
36.1           Oceania          29.60
36.9           Europe            7.90
37.7           South America    20.57
37.8           Africa           36.22
38.2           North America    10.10
38.6           Oceania          11.98
39.3           Africa           35.39
40.0           North America    21.60
40.4           Europe           10.60
40.6           Asia             13.47
40.7           Asia             13.89
41.2           Africa           29.41
41.7           North America    19.51
42.3           North America    12.60
42.6           Europe            9.90
42.7           Europe            8.11
42.8           Africa           34.52
43.1           Africa           33.41
               Europe            9.90
43.6           Asia             17.55
46.0           North America    12.94
46.3           Africa           40.73
46.9           Europe            9.70
48.0           Africa           37.52
48.1           Asia             16.75
48.4           Africa           38.54
49.8           Asia             11.50
49.9           Asia             18.07
50.0           North America    16.47
50.2           South America    19.72
50.3           South America    21.75
51.3           Europe           10.90
51.4           North America    13.97
51.6           Africa           36.70
52.7           South America    17.88
52.9           Asia             22.46
54.0           Europe           10.00
54.6           North America    13.97
55.5           Africa           33.24
55.9           Oceania          21.28
57.4           North America    12.00
57.7           South America    17.95
58.9           South America    13.92
59.7           North America    20.79
60.4           Oceania          24.38
61.5           Europe           11.73
61.9           North America    18.98
62.0           Europe            9.40
65.2           Africa           36.19
65.4           Africa           32.86
67.2           Africa           41.18
67.6           Asia             16.75
68.5           Asia              7.40
68.9           Europe           11.40
69.2           North America    14.24
69.8           Africa           35.13
70.2           Oceania          29.03
72.1           Asia             14.90
72.5           Asia             17.26
73.1           Europe            8.60
74.1           Oceania          27.07
77.9           Oceania          32.44
82.1           Asia             23.55
83.9           South America    19.97
87.6           Oceania          14.00
88.4           Africa           17.10
90.0           Africa           31.61
98.3           South America    18.54
Name: birth_rate, dtype: float64

In [24]:
max_natality.groupby('continent')['birth_rate'].max().reset_index()

KeyError: 'Column not found: birth_rate'

In [ ]:
# Diferencia entre tasa impuestos total y tasa desempleo promedio

tot_tax_rate = df_world.groupby('continent')['total_tax_rate'].mean()
unemployment_rate = df_world.groupby('continent')['unemployment_rate'].mean()

difference_tax_unem = tot_tax_rate - unemployment_rate

In [ ]:
difference_tax_unem.reset_index()

       continent          0
0         Africa  39.885686
1           Asia  26.973518
2         Europe  32.033670
3  North America  32.443684
4        Oceania  33.815341
5  South America  45.760833